<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fluke900Link.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Fluke900Link.Properties.Settings>
            <setting name="COM_Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COM_Baud" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="COM_Parity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="COM_DataBits" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="COM_StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DefaultFilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSyncDateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultLibloadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveToolboxWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveEditorWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Editor_LineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFileCopyBehavior" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCopyDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCopyExamples" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCopyTemplates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COM_CableType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvertTabsToSpaces" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RecentFileList" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLibraryFilename" serializeAs="String">
                <value>AUTOLIB</value>
            </setting>
        </Fluke900Link.Properties.Settings>
    </userSettings>
</configuration>